[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
django-otp = "*"
qrcode = "*"
raven = "*"
djangorestframework = "*"
django-countries = "*"
graphene-django = ">=2.0"
django-filter = "*"
coveralls = "*"
coreapi = "*"
django-debug-toolbar = "*"

[dev-packages]
